[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround
[submodule "bundle/repeat.vim"]
	path = bundle/repeat.vim
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/fugitive.vim"]
	path = bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-showmarks"]
	path = bundle/vim-showmarks
	url = https://github.com/jacquesbh/vim-showmarks
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/Gundo
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/rails.vim"]
	path = bundle/rails.vim
	url = https://github.com/tpope/vim-rails
[submodule "bundle/endwise.vim"]
	path = bundle/endwise.vim
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/obsession.vim"]
	path = bundle/obsession.vim
	url = https://github.com/tpope/vim-obsession
[submodule "bundle/rake.vim"]
	path = bundle/rake.vim
	url = https://github.com/tpope/vim-rake
